<!doctype html>
<html lang="pt-br">

<h1 style="text-align:justify"><strong>SWEP&nbsp;</strong><span style="font-size:16px"><strong> &nbsp;</strong></span>
<span style="font-size:18px">COMIDAS T&Iacute;PICAS | INDICA&Ccedil;&Otilde;ES NUTRICIONAIS | VALOR NUTRICIONAL | MAIS INFORMA&Ccedil;&Otilde;ES</span>
</h1>
<input type = "search"></input>
<hr />

<form>
 <fieldset>
  <legend><strong>Nova Receita</strong></legend>
  <p>
    <label for="titulo">Título da receita: </label>
   </p>
   <input type="text" id="titulo" name="tituloreceita" required><br><br>
    <p>
      <label for="Ingredientes">Ingredientes</label>
   </p>
  <p><label for="preparo">Modo de preparo:</label></p>
 <textarea type="text" rows="10" cols="35" required></textarea>
   <p>
   <p>
     <label>Essa receita é típica de alguma região?</label><br>
     <input  type="radio"> Centroeste<br>
     <input type="radio"> Nordeste<br>
  	<input type="radio"> Norte<br>
<input type="radio" > Sul<br>
<input type="radio" > Sudeste<br>
   </p>
  <input type="submit" value="Publicar">
 </fieldset>
</form>
