<!DOCTYPE html>
<html Lang="pt-br">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Indicações Nutricionais</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

  </head>

        <fieldset>
          <header>
            <meta name="viewport" content="width=device-width", initial-scale="1.0">
            <link rel ="stylesheet" href="style.css">
  
              <section class="logo">
              <div>
              <h1><b><a href ='/'> SWEP </a></b></h1>
              </section>
                   <ul>
                    <li class="menu"><a href="#">Comidas Típicas |</a></li>
                    <li class="menu"><a href="#">Indicações Nutricionais |</a></li>
                    <li class="menu"><a href="#">Valor Nutricional |</a></li>
                    <li class="menu"><a href="#">Mais Informações</a></li>
                   </ul>
              </div>
                  
          </header>

         <body class="bg">

            <form action="{% url 'indicacoesNutricionais' %}" method="POST"> 
            
            <main class = "Indicações Nutricionais">
                
              <section class="cabecalho">
                <h1> Indicações Nutricionais <h1></h1>
              </section>

              <form>
              <legend><h3> Digite as informações que deseja compartilhar: </h3></legend>
              <div class="mb-3">
                   <input type="text" name="description2" class="form-control" placeholder="Digite aqui...">
                   <style>

                    input[type=text] {
                    height: 50px;
                    width: 500px
                    }
                    
                    </style>
                 </div>
                 <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Qual o tipo de informação?</label>
                  <input type="text" name="tipo" class="form-control" placeholder="Ex: Alimento, receita, dica...">
                </div>

            </form>

              <section style="text-align:center">
                <input type="submit" value="Enviar" class="enviar">
              </section>

            </main>

            </form> 
         </body>
        
        </fieldset>

</html>