<!doctype html>
<html lang="pt-br">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Postagem de Receitas</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

  
  </head>

<h1 style="text-align:justify"><strong><a href ='/'> SWEP </a>&nbsp;</strong><span style="font-size:16px"><strong> &nbsp;</strong></span>
<span style="font-size:18px">COMIDAS T&Iacute;PICAS | <a href ='/'> INDICA&Ccedil;&Otilde;ES NUTRICIONAIS</a> | VALOR NUTRICIONAL | MAIS INFORMA&Ccedil;&Otilde;ES</span>
</h1>
<hr />

<form>
 <fieldset>
  <legend><strong>Nova Receita</strong></legend>
  <p>
    <label for="titulo">Título da receita: </label>
   </p>
   <input type="text" id="titulo" class="form-control" name="tituloreceita" required><br><br>
    <p>
      <label for="Ingredientes">Ingredientes</label>
      <textarea type="text" class="form-control" name="ingredientes"required></textarea>
   </p>
  <p><label for="preparo">Modo de preparo:</label></p>
  <textarea type="text" class="form-control" rows="10" cols="35" name="modo"required></textarea>
   <p>
   <p>
     <label>Essa receita é típica de alguma região?</label><br>
     <input  type="radio"> Centroeste<br>
     <input type="radio"> Nordeste<br>
  	<input type="radio"> Norte<br>
<input type="radio" > Sul<br>
<input type="radio" > Sudeste<br>
   </p>
  <input type="submit" value="Publicar">
 </fieldset>
</form>
