@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');


html {
    width: 100%;
}

header {
    background:rgba(204, 204, 204, 0.8);
    box-sizing: border-box;
    font-family: 'Dosis', sans-serif;
    border: 5px solid rgba(204, 204, 204, 0.8);
    text-align: justify;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 12vh;
    text-transform: uppercase;
}

ul li {
    list-style-type: none;
    display: inline;
    letter-spacing: 5px;
}

h1 {
    display: left;
    font-size: 40px;
}

.menu {
    text-align: center;
}

.cabecalho {
    font-size: 30px;
    text-align: center;
}

body {
    font-family: 'Dosis', sans-serif;
    padding: 0;
    margin: 0;
    width: 100%;
    background-image: url(../hand-drawn-food-elements/ORFF0J1.jpg);
    opacity: 1.5;
    backdrop-filter: blur 30px;
    background-repeat: no-repeat;
    background-size: 2200px 1200px;
    background-attachment: scroll;
    background-position: center center;
    font-size: 20px;
    font-weight:bold;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu_comidas {
    width: 400px;
    margin: 50px auto;
    clear: both;
    display: block;
    color:rgba(11, 248, 11, 0.973);
    padding: 0px 0px;
    background-color: rgba(3, 3, 3, 0.719);
    border-radius: 8px;
}

.menu_comidas:checked{
    color: rgb(197, 9, 9);
}


.menu_comidas .menu_check {
    float: left;
    width: 50%;
    box-sizing: border-box;
    justify-content: center;
    text-align: center;
    padding: 40px 0px;
}

.checkbox-label {
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3 ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;

}
.enviar {
    background: #060707;
    color: rgb(243, 233, 233);
    border: 1px solid rgb(7, 7, 7);
    border-radius: 20px;
    justify-content: center;
    box-shadow: 15px 15px 15px rgb(153, 150, 150);
    text-shadow: none;
    }

.enviar:hover {
    background: #128b12;
    color: #fff;
    border: 1px solid rgba(29, 146, 25, 0.801);
    border-radius: 20px;
    justify-content: center;
    box-shadow: 15px 15px 15px #bcc2bc;
    text-shadow: none;
    }

footer {
    height: 12vh;
    background: rgba(204, 204, 204, 0.8);
    background-position: center center;
    color:rgba(7, 6, 6, 0.432);
    font-family: 'Dosis', sans-serif;
    font-size: 13px;
    text-align: justify;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 120%;
}